@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .btn {
    @apply hover:!bg-color-secondary  !bg-color-primary;
  }
  .title {
    @apply text-3xl md:text-4xl font-bold leading-snug;
  }
  .nav-link{
    @apply text-color-description hover:!text-color-primary ;
  }
  :root{
    @apply font-opensans ;
  }
  h1,h2,h3,h4,h4,h5,h6{
    @apply font-bold leading-[50px]
  }
  h1{
    @apply text-[40px] ;
  }
  h2{
    @apply text-[36px] ;
  }
  h3{
    @apply text-[32px] ;
  }
  h4{
    @apply text-[28px];
  }
  h5{
    @apply text-[24px];
  }
  h6{
    @apply text-[20px];
  }
  small{
    @apply text-[16px];
  }
  .description{ 
    @apply !text-[20px] !text-color-description;
  }
  .sub-description{
    @apply !text-[12px] !text-color-description;
  }
  .each-section{
    @apply px-2 md:px-10 lg:px-36 pb-10 lg:pb-20 ;
  }
}
@keyframes heartbeat {
  0% { transform: scale(1); }
  30% { transform: scale(1.15); }
  50% { transform: scale(1); }
  70% { transform: scale(1.15); }
  100% { transform: scale(1); }
}

.animate-heartbeat {
  animation: heartbeat 3s infinite ease-in-out;
}
